<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RENT_CAR</title>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">       
    </head>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <li><a href="/" class="navbar-brand">RENTCAR</a></li>
        <li><a href="/" class="navbar-brand">Clientes</a></li>
        <li><a href="/" class="navbar-brand">Rentar</a></li>
    </nav>
    <body>